
<div class="header_wrap visible-lg visible-md title-v2 index ">
  <header id="header">
    <div class="header-wrapper header-v20">
      <div class="logo_and_menu-row smalls">
        <div class="logo-row paddings">
          <div class="menu-row sliced">
            <div class="maxwidth-theme wides">
              <div class="row pos-static">
                <div class="col-md-12 pos-static">
                  <div class="logo-block pull-left floated">
                    <div class="logo colored">
                      <a href="/">
                        <img src="{{path.img}}/default/logotip.svg" alt="">
                      </a>                
                    </div>
                  </div>
                  <div class="right-icons pull-right wb">
                    <div class="pull-right">
                      <div class="wrap_icon">
                        <button class="top-btn inline-search-show">
                          <i class="svg inline  svg-inline-search" aria-hidden="true" ><svg class="" width="17" height="17" viewBox="0 0 17 17" aria-hidden="true"><path class="cls-1" d="M16.709,16.719a1,1,0,0,1-1.412,0l-3.256-3.287A7.475,7.475,0,1,1,15,7.5a7.433,7.433,0,0,1-1.549,4.518l3.258,3.289A1,1,0,0,1,16.709,16.719ZM7.5,2A5.5,5.5,0,1,0,13,7.5,5.5,5.5,0,0,0,7.5,2Z"></path></svg></i>                      <span class="title">Поиск</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right region-phones">
                    <div class="pull-left">
                      <div class="wrap_icon inner-table-block">
                        <div class="phone-block blocks"></div>
                      </div>
                    </div>
                  </div>
                  <div class="menu-only pull-left1">
                    <div class="menu-wrapper">
<nav class="mega-menu sliced ovisible">
                          <div class="table-menu">
    <table>
      <tbody><tr>
          <td class="menu-item dropdown catalog wide_menu  wide_menu" style="visibility: visible;">
            <div class="wrap">
              <a class="dropdown-toggle" href="/catalog/">
                <div>
                                      <i class="svg inline  svg-inline-icon_catalog" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path data-name="Rounded Rectangle 969 copy 7" class="cls-1" d="M644,76a1,1,0,1,1-1,1A1,1,0,0,1,644,76Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,648,76Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,652,76Zm-8,4a1,1,0,1,1-1,1A1,1,0,0,1,644,80Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,648,80Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,652,80Zm-8,4a1,1,0,1,1-1,1A1,1,0,0,1,644,84Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,648,84Zm4,0a1,1,0,1,1-1,1A1,1,0,0,1,652,84Z" transform="translate(-643 -76)"></path></svg></i>                                   Каталог                                     <i class="svg inline  svg-inline-down" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="5" height="3" viewBox="0 0 5 3"><path class="cls-1" d="M250,80h5l-2.5,3Z" transform="translate(-250 -80)"></path></svg></i>                                  </div>
              </a>
                                              <span class="tail"></span>
                <div class="dropdown-menu BANNER" style="display: none; opacity: 0; left: -285px;">
                                    <div class="customScrollbar mCustomScrollbar _mCS_1 mCS_no_scrollbar scroll-init"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 0px;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <ul class="menu-wrapper menu-type-1">
                                                                                                                            <li class="    parent-items">
                                                                              <a href="/catalog/kardiotrenazhery/" title="Кардиотренажеры">
            <span class="name option-font-bold">Кардиотренажеры</span>              </a>
                                                                      </li>
                                                                                                                                                    <li class="dropdown-submenu    parent-items">
                                                                              <a href="/catalog/silovye_trenazhery/" title="Силовые тренажеры">
            <span class="name option-font-bold">Силовые тренажеры</span><i class="svg inline  svg-inline-right light-ignore" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="3" height="5" viewBox="0 0 3 5"><path data-name="Rectangle 4 copy" class="cls-1" d="M203,84V79l3,2.5Z" transform="translate(-203 -79)"></path></svg></i>             </a>
                            <ul class="dropdown-menu toggle_menu" style="display: none; opacity: 0;">
                                  <li class="menu-item">
              <a href="/catalog/silovye_trenazhery/ruki/" title="Руки"><span class="name">Руки</span></a>
                          </li>
                                  <li class="menu-item">
              <a href="/catalog/silovye_trenazhery/spina_i_press/" title="Спина и пресс"><span class="name">Спина и пресс</span></a>
                          </li>
                                  <li class="menu-item">
              <a href="/catalog/silovye_trenazhery/nogi/" title="Ноги"><span class="name">Ноги</span></a>
                          </li>
                                  <li class="menu-item">
              <a href="/catalog/silovye_trenazhery/tyaga_i_zhim/" title="Тяга и жим"><span class="name">Тяга и жим</span></a>
                          </li>
                            </ul>
                                                                </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/catalog/grebnaya_tyaga/" title="Гребная тяга">
            <span class="name option-font-bold">Гребная тяга</span>             </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/catalog/skami/" title="Скамьи">
            <span class="name option-font-bold">Скамьи</span>             </a>
                                                                      </li>
                                                                  </ul>
                  </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                  </div>
                          </div>
          </td>
          <td class="menu-item dropdown  wide_menu" style="visibility: visible;">
            <div class="wrap">
              <a class="dropdown-toggle" href="/company/">
                <div>
                                    Компания                                  </div>
              </a>
                                              <span class="tail"></span>
                <div class="dropdown-menu BANNER" style="display: none; opacity: 0; left: -285px;">
                                    <div class="customScrollbar mCustomScrollbar _mCS_2 mCS_no_scrollbar scroll-init"><div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 0px;" tabindex="0"><div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <ul class="menu-wrapper menu-type-1">
                                                                                                                            <li class="    parent-items">
                                                                              <a href="/company/index.php" title="История Neverest">
            <span class="name ">История Neverest</span>             </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/company/news/" title="Новости">
            <span class="name ">Новости</span>              </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/company/press/" title="Пресса о нас">
            <span class="name ">Пресса о нас</span>             </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/company/video/" title="Видеоматериалы">
            <span class="name ">Видеоматериалы</span>             </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/company/projects/" title="Наши проекты">
            <span class="name ">Наши проекты</span>             </a>
                                                                      </li>
                                                                  </ul>
                  </div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                  </div>
                          </div>
          </td>
          <td class="menu-item dropdown  wide_menu" style="visibility: visible;">
            <div class="wrap">
              <a class="dropdown-toggle" href="/services/">
                <div>
                                    Сервис                                  </div>
              </a>
                                              <span class="tail"></span>
                <div class="dropdown-menu BANNER" style="display: none; opacity: 0;">
                                    <div class="customScrollbar mCustomScrollbar _mCS_3 mCS_no_scrollbar scroll-init"><div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 0px;" tabindex="0"><div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <ul class="menu-wrapper menu-type-1">
                                                                                                                            <li class="    parent-items">
                                                                              <a href="/services/index.php" title="Гарантийные обязательства">
            <span class="name ">Гарантийные обязательства</span>              </a>
                                                                      </li>
                                                                                                                                                    <li class="    parent-items">
                                                                              <a href="/services/recom/" title="Рекомендации по обслуживанию">
            <span class="name ">Рекомендации по обслуживанию</span>             </a>
                                                                      </li>
                                                                  </ul>
                  </div><div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                  </div>
                          </div>
          </td>
          <td class="menu-item   wide_menu" style="visibility: visible;">
            <div class="wrap">
              <a class="" href="/buy/">
                <div>
                                    Где купить                                  </div>
              </a>
                          </div>
          </td>
          <td class="menu-item   wide_menu" style="visibility: visible;">
            <div class="wrap">
              <a class="" href="/contacts/">
                <div>
                                    Контакты                                  </div>
              </a>
                          </div>
          </td>
        <td class="menu-item dropdown js-dropdown nosave" style="display: none; visibility: visible;">
          <div class="wrap">
            <a class="dropdown-toggle more-items" href="#">
              <span>+ &nbsp;ЕЩЕ</span>
            </a>
            <span class="tail"></span>
            <ul class="dropdown-menu" style="display: none; opacity: 0;"></ul>
          </div>
        </td>
      </tr>
    </tbody></table>
  </div>
  <script data-skip-moving="true">
    CheckTopMenuPadding();
    CheckTopMenuOncePadding();
    CheckTopMenuDotted();
  </script>
                  </nav>




                    </div>
                  </div>
                </div>
              </div>
              <div class="lines-row"></div>
            </div>
          </div>
        </div>  
      </div>
    </div>  
  </header>
</div>
{# <header class="{{prefix}}block  {{mod}}" >
  <div class="{{prefix}}header">
    <div class="{{prefix}}header-container container">
      <div class="{{prefix}}header-row row">
        <div class="{{prefix}}header-cols cols  is--logotip">
          {% if logotip == "svg" %}
          <a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip  is--svg" {{link_attr}}>
            {% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
          </a>
          {% else %}
          <a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip" {{link_attr}}>
            {{contacts.name}}
          </a>
          {% endif %}

        </div>
        <div class="{{prefix}}header-cols cols  is--hamburger">
          <button class="{{prefix}}header-hamburger" data-hamburger data-scrollto-humb>
            <span class="{{prefix}}header-hamburger-inner">
              <span class="{{prefix}}header-hamburger-line  is--left"></span>
              <span class="{{prefix}}header-hamburger-line  is--center"></span>
              <span class="{{prefix}}header-hamburger-line  is--right"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="{{prefix}}aside" data-scrollto-navbar>
    <div class="{{prefix}}aside-inner">
      <div class="{{prefix}}aside-container container">
        <div class="{{prefix}}aside-row row">
          <div class="{{prefix}}aside-cols cols  is--logotip">
            {% if logotip == "svg" %}
            <a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip  is--svg" {{link_attr}}>
              {% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
            </a>
            {% else %}
            <a href="{{link}}#{{block.header}}" class="{{prefix}}header-logotip" {{link_attr}}>
              {{contacts.name}}
            </a>
            {% endif %}
          </div>
          <div class="{{prefix}}aside-cols cols  is--nav">
            <nav class="{{prefix}}aside-nav">
              {% for n in nav %}
              <li class="{{prefix}}aside-nav-item">
                <a href="{{link}}#{{n.link}}" {{n.attr}} class="{{prefix}}aside-nav-link" {% if n.diff %}data-scrollto-diff="{{n.diff}}"{% endif %}>{{n.name}}</a>
              </li>
              {% endfor %}
            </nav>  
          </div>
          <div class="{{prefix}}aside-cols cols  is--email">
            <a href="mailto:{{contacts.email}}" class="{{prefix}}aside-email">{{contacts.email}}</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</header> #}